<?xml version="1.0" encoding="UTF-8"?>

<!--
     Logback configuration for Structured Logging in Spring Boot projects.
     Includes support for Spring Cloud Sleuth, based on Spring Boot's
     defaults and a sample from the reference manual of Sleuth.

     @see https://github.com/mafr/structured-logging
     @see https://github.com/logstash/logstash-logback-encoder
     @see https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-logging.html
-->

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-logs}/${springAppName}}"/>

    <!-- Append to console in plain text -->
    <appender name="CONSOLE_TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Minimum logging level to be presented in the console logs-->
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    

    <!-- Local Spring profile -->
    <root level="info">
        <appender-ref ref="CONSOLE_TEXT"/>
    </root>

</configuration>